fastapi==0.115.1
uvicorn[standard]==0.23.2
pydantic==2.11.7
pandas==2.2.2
python-dotenv==1.0.1
nest-asyncio==1.6.0
sqlalchemy==2.0.41
psycopg2-binary==2.9.10
streamlit==1.46.1
starlette==0.46.2
httpx==0.27.0
orjson==3.10.18
prettytable==3.16.0
